<ul id="help-link" class="nav pull-left" data-animation="bottom">
  <li class="text-info">
    <a href="#" data-content="<%= t "intro.help" %>"><%= t "intro.help"%></a>
    <%#= link_to t "intro.help", "#" %>
  </li>
</ul>
