<ul id="help-link" class="nav pull-left" data-toggle="modal">
  <li class="text-info">
    <a href="#helperModal" role="button" data-toggle="modal"><%= t "intro.help"%></a>
  </li>
</ul>


<div id="helperModal" class="modal hide fade" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-header">
    <h3 id="myModalLabel"><%= t "intro.help"%></h3>
  </div>
  <div class="modal-body">
    <span>
      Pealim is a tool made for those who have a basic understanding of Hebrew language and also
      for those who seek a way to improve their verb knowledge
    </span>
  </div>
  <div class="modal-footer">
    <button class="btn" data-dismiss="modal" aria-hidden="true"><%= t "button.close"%></button>
  </div>
</div>