<ul id="language-nav" class="nav pull-right">
  <li><%=link_to "English", application_set_user_lang_url(:locale => "en") if I18n.locale != :en %></li>
  <li><%= link_to "Español", application_set_user_lang_url(:locale => "es") if I18n.locale != :es %></li>
  <li><%=link_to "Русский", application_set_user_lang_url(:locale => "ru") if I18n.locale != :ru %></li>
</ul>