#search-section.span12.offset2.row-fluid
  =form_for @search, method: :post, html: {:class => "form-search"} do |v|
    .input-append
      = v.hidden_field :verb_id
      = text_field_tag :verb_name,"", placeholder: t("intro.type_verb"), :class => "search-query"
      = v.submit t("intro.search"), name: nil, id: "search-btn", :class => "btn btn-success"

#add_missing_verb.span12.offset3
  p.text-info
    =t("intro.verb_not_present")
    a.btn.btn-link href="#NewVerbModal" data-toggle="modal" = t("intro.add_verb_action")

= render :partial => "verbs/new"