// Place all the styles related to the comments controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/



DIV#comments                        { height: 60%; }
DIV#comments #comment_author        { margin-right: 15px; }
DIV#comments #comment_text  { max-width: 205px; height: 70px; max-height: 210px; }

DIV#list_of_comments .comment-holder  {
                                        display: inline;
                                        height: auto;
                                        width: 300px;
                                        border: 1px solid #eeeeee;
                                        border-radius: 5px;
                                      }

DIV#list_of_comments .comment-header  {
                                        border-top: 2px solid #eeeeee;
                                        border-bottom: 2px solid #eeeeee;
                                        background-color: #eeeeee;
                                      }

DIV#list_of_comments .posted-time     { float: right; }
DIV#list_of_comments .posted-content  { vertical-align: text-top; }