/* Place all the styles related to the verbs controller here.
 They will automatically be included in application.css.
 You can use Sass (SCSS) here: http://sass-lang.com/*/

body {
  font-family: Georgia, Serif;
  font-size: 20px;
}
.ui-autocomplete  {
  max-height: 200px;
  overflow-y: auto;
  width: 200px;
}
#loading-area {
  margin-top: 10px;
}

UL.helper-link {
  position: relative;
  display: inline-block;
  width: 20px;
  height: 20px;
}

.loader-and-search-elemets {
  margin-top: 2em;
}

#helper-modal {
  direction: ltr;
  width: 50%;
  line-height: 1.3;
}

.add-verb-row {
  margin: 1em 0 0 1em;
}

#add_missing_verb {
  direction: ltr;
}

form.new_hebrew_verb {
  .form-label {
    margin-right: 4em;
    b {
      margin-left: 2.5em;
      &.structure-label { margin-left: 2.7em; }
      &.translations-label { margin-left: 1em; }
    }
  }
  .translation-input.no-label { margin-right: 5em; }
  .submit { width: 100px; }
}

#paypal-api { margin-top: 200px; }

#footer {
  padding-top: 10px;
  text-align: center;
}

/*VERB SHOW ACTION */
div.verb-show-action, div.verb-preview-action {
  #verb-result {
    font-family: "sefer_ahregular";
    font-size: 20px;
    h3 {
      direction: rtl;
      font-size: 24px;
      float: right;
      &.translation {
        direction: ltr;
        margin-right: 5px;
      }
    }

    h5 {
      line-height: 1em;
      direction: ltr;
      text-align: center;
      float: right;
    }
    #confirm-btn {
      margin: 18px 0 0 30px;
      .btn-danger {
        margin-left: 10%;
      }
    }

    .table {
      &.past-tense, &.future-tense, &.imperative-tense {
        td {
          text-align: right;
        }
      }
      &.imperative-tense {
        .row.table-row div.imperative-header {
          width: 176px;
          text-align: center;
        }
      }
    }
  }

  margin-top: 10px;

  .table-row { direction: rtl; }
  table.table {
    letter-spacing: 1px;
    thead th, tbody td {
      line-height: 1;
    }

    thead th {
      font-weight: normal;
      text-align: right;
    }
    tbody td {
      text-align: center;
    }

    &.table-hover{
      &.imperative-tense, &.future-tense, &.past-tense {
        thead td, th { text-align: right;}
      }
    }
  }
}
/*// unscrollable body while modal open*/
body.modal-open {
  overflow: hidden;
}

.new-verb-container {
  direction: ltr;

  .submit-controls {
    border-top: 1px solid #eee;

    input.submit {
      float: left;
      margin: 25px 200px 0;
    }
  }
}
//

DIV.section {
  border-radius: 15px;
  vertical-align: middle;
  margin-top: 10px;
  margin-bottom: 10px;
}

.bootstrap-select.btn-group {
  &.pull-right {
    float: right;
  }
  &.letter {
    margin-left: 5px;
    width: 60px;
  }
  ul.dropdown-menu {
    max-height: 150px;
  }
}

SPAN.letter-space {
  line-height: 2;
  width: 1px;
}
.verb-fourth-root { display: none; }

SPAN.small-top-btn-delete {
  background-image: url("/assets/small-top-delete-btn.png");
  height: 16px;
  width: 16px;
  cursor: pointer;
  position: relative;
  top: -5px;
  left: 10px;
}

@media (max-width: 480px) and (max-height: 320px) {
  .modal.fade.in {
    top: 20px;
  }
}

