// Place all the styles related to the verbs controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.ui-autocomplete           {
                              max-height: 200px;
                              overflow-y: auto;
                              width: 200px;
                           }
.row                       {
                              margin-top: 0;
                           }

UL.helper-link             { position: relative; display: inline-block; width: 20px; height: 20px; }
#main_page_inner_container { height: auto; margin-top: 25px; margin-left: 50px; }
.start-image               { vertical-align: middle; }

#new_verb_form             { margin-top: 50px; }
#hebrew_verb_root_4        { display: none; }
#footer                    { padding-top: 10px; text-align: center; }



DIV.verb-show-action      { direction: rtl; margin-top: 10px; font-size: 16px; }
DIV.section               { border-radius: 15px; background-color: #F0F0F0; vertical-align: middle; margin-top: 10px; margin-bottom: 10px; }
Div.section-header        { background-color: #F0F0F0; border-top-right-radius: 15px; border-top-left-radius: 15px;}
Div.section-block         { background-color: #eeeeee; border-bottom-right-radius: 15px; border-bottom-left-radius: 15px; }

DIV.verb-show-action TABLE TR TH,
DIV.verb-show-action TABLE TR TD    { text-align: right; }


DIV#comments                        { height: 60%; }
DIV#comments #comment_author        { margin-right: 15px; }
DIV#comments #comment_text  { max-width: 205px; height: 70px; max-height: 210px; }

DIV#list_of_comments .comment-holder  {
                                        display: inline;
                                        height: auto;
                                        width: 300px;
                                        border: 1px solid #eeeeee;
                                        border-radius: 5px;
                                      }

DIV#list_of_comments .comment-header  {
                                        border-top: 2px solid #eeeeee;
                                        border-bottom: 2px solid #eeeeee;
                                        background-color: #eeeeee;
                                      }

DIV#list_of_comments .posted-time     { float: right; }
DIV#list_of_comments .posted-content  { vertical-align: text-top;

                                      }



