// Place all the styles related to the VerbSearches controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.ui-autocomplete  {
  max-height: 200px;
  overflow-y: auto;
  width: 200px;
}

.ajaxSpinner .spinner {
  top: 1em;
  width: 2em;
}

#search-btn {
  height: 1.75em;
  font-size: 22px;
}

#verb_name {
  height: 1.3em;
  font-size: 22px;
  line-height: 1.5em;
}