<p><%#= params %></p>

<%#= @v.attributes.each do |attribute| %>
  <p style="font-size:24px;"><%#= attribute %></p>
<%# end %>
<p><%#= @hebrew_verb.attributes %></p>

<h1><%#= @hebrew_verb[:past_base][0..2] %></h1>

