-@page_title = t("verb.new_verb")

div.navbar
  div.nav-pills
    =render "/shared/helper_link"
    ul.nav.pull-right
      li = link_to t("navigation.back"), verbs_path

div#new_verb_form.row.span12
  =form_for :hebrew_verb, :url => {:action => 'create'} do |heb_verb|
    div.row
      p.lead.span2.pull-right
        b שורש
        div
          =heb_verb.select :root_1, options_from_collection_for_select(@letters, :id, :name), {}, :class => "span1 pull-right selectpicker letter"

          span.pull-right.letter-space .
          =heb_verb.select :root_2, options_from_collection_for_select(@letters, :id, :name), {}, :class => "span1 pull-right selectpicker letter"
          span.pull-right.letter-space .
          =heb_verb.select :root_3, options_from_collection_for_select(@letters, :id, :name), {}, :class => "span1 pull-right selectpicker letter"

          div.verb-fourth-root
            = hidden_field_tag :hidden_root_4, value: "delete"
            = heb_verb.select :root_4, options_from_collection_for_select(@letters, :id, :name), {}, :class => "span1 pull-right btn btn-small letter"
            span.small-top-btn-delete.pull-right

    div.row
      p.lead.span2.pull-right
        b בניין
      =heb_verb.select :building_id, options_from_collection_for_select(@buildings, :id ,:name), {}, :class => "span2 pull-right selectpicker"

    div.row
      p.lead.span2.pull-right
        b תירגום
      p.span2.pull-right =heb_verb.text_field :english,:placeholder => "English", :class => "span2 offset1"

    div.row
      p.lead.span2.pull-right
      p.span2.pull-right =heb_verb.text_field :russian,:placeholder => "Русский", :class => "span2 offset1"
    div.row
      p.lead.span2.pull-right
      p.span2.pull-right =heb_verb.text_field :spanish,:placeholder => "Español", :class => "span2 offset1"

    div.row
      div.span5.offset2 =heb_verb.submit t("button.submit"), :class => "span2 pull-right btn btn-success submit"