-@page_title = @hebrew_verb.verb.send(@language) if @hebrew_verb
div.container.verb-show-action
  div.navbar
    div.nav-pills
      = render "/shared/helper_link"
      ul.nav
        li = link_to t("navigation.back"), verbs_path
      = render "shared/languages_bar"

  = render :partial =>  "shared/search_verb"
  - if @hebrew_verb.nil?
  / Put this in the locales
    p No verb was found by the name specified
  - else
    div#verb-infinitive.row.section
      h3.span11
        | (#{@hebrew_verb.root}) #{@hebrew_verb.infinitive} - #{@hebrew_verb.verb.send(@language)}

    div.row
      div.span11: h3 זמן הווה
      div.span7.offset4
        table.table.table-condensed.present-tense
          thead
            tr
              th מין זכר/יחיד
              th מין נקבה/יחיד
              th מין זכר/רבים
              th מין נקבה/רבות
          tbody
            tr
              td =@hebrew_verb.mas_sing_pres
              td =@hebrew_verb.fem_sing_pres
              td =@hebrew_verb.mas_plu_pres
              td =@hebrew_verb.fem_plu_pres

    div.row
      div.span4: h3 זמן ציווי
      div.span4: h3 זמן עתיד
      div.span3: h3 זמן עבר

    div.row
      / IMPERATIVE TENSE TABLE
      div.span2.offset2
        table.table.table-hover.imperative-tense
          thead
            tr
              th אתה
              td =@hebrew_verb.mas_imp
          thead
            tr
              th את
              td =@hebrew_verb.fem_imp
          thead
            tr
              th אתם-ן
              td =@hebrew_verb.plural_imp

      / FUTURE TENSE TABLE
      div.span3.offset1
        table.table.table-hover.future-tense
          thead
            tr
              th אנִי
              td =@hebrew_verb.me_fut
          thead
            tr
              th אתָה - היא
              td =@hebrew_verb.you_mas_sing_she_fut
          thead
            tr
              th הוא
              td =@hebrew_verb.he_fut
          thead
            tr
              th אנַחְנו
              td =@hebrew_verb.we_fut
          thead
            tr
              th את
              td =@hebrew_verb.you_fem_sing_fut
          thead
            tr
              th אתֵם-ן
              td =@hebrew_verb.you_plu_fut
          thead
            tr
              th הֵם-ן
              td =@hebrew_verb.they_fut
      / PAST TENSE TABLE
      div.span1.offset2
        table.table.table-hover.past-tense
          thead
            tr
              th אנִי
              td =@hebrew_verb.me_past
          thead
            tr
              th אתָה
              td =@hebrew_verb.you_mas_sing_past
          thead
            tr
              th אתְ
              td =@hebrew_verb.you_fem_sing_past
          thead
            tr
              th אנַחְנו
              td  =@hebrew_verb.we_past
          thead
            tr
              th אתֵם-ן
              td =@hebrew_verb.you_mas_plu_past + "-ן"
          thead
            tr
              th הוא
              td =@hebrew_verb.he_past
          thead
            tr
              th היא
              td =@hebrew_verb.she_past
          thead
            tr
              th הֵם-ן
              td =@hebrew_verb.they_past